<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<ng-template #selectedTemplate let-element>
    !{{element}}!
</ng-template>

<ng-template #optionTemplate let-option let-query="query">
    !!<span [innerHTML]="option | highlight : query"></span>!!
</ng-template>

<button (click)="disabled = !disabled">{{ disabled ? "Enable" : "Disable" }}</button>

<div>
    <div>
        {{ value }}

        <vibor-select
            [connector]="arrayConnector"
            [(ngModel)]="value"
            [disabled]="disabled"
            [selectedTemplate]="selectedTemplate"
            [optionsTemplate]="optionTemplate">
        </vibor-select>
    </div>

    <div>
        {{ valueList }}
        <vibor-multiselect
            [connector]="arrayConnector"
            [(ngModel)]="valueList"
            [disabled]="disabled"
            [selectedTemplate]="selectedTemplate"
            [optionsTemplate]="optionTemplate">
        </vibor-multiselect>
    </div>
</div>


